.order-list {
  text-align: center;
  display: flexbox;
  margin-bottom: 50px;
}

.crt-btn {
  color: azure;
  background-color: rgb(1, 27, 27);
  border-radius: 10%;
  border-color: rgb(1, 27, 27);
}

.order-btn {
  color: azure;
  background-color: rgb(1, 27, 27);
  border-radius: 10%;
  margin-left: 25px;
  border-color: rgb(1, 27, 27);
}

.item {
  margin: auto;
  width: 20vw;
  min-width: 305px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart {
  color: azure;
  background-color: rgb(1, 27, 27);
  display: grid;
  position: absolute;
  margin-left: 65%;
}

.cart-item {
  display: grid;
  grid-template-columns: auto auto;
}

.item-name {
  text-align: start;
}

.item-price {
  text-align: end;
}

@media only screen and (max-width: 350px) {
  .item {
    min-width: 75vw;
    grid-template-columns: 1fr;
  }
}
